<!DOCTYPE html>
<html>
  <head>
    <title>student management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class = "header">
      <div class = "title">student management</div>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to  "投稿する", "/posts/new", class: "post" %>
        </div>
      <% else %>
        <div class = "login_btn">
        <%= link_to "ログイン", new_user_session_path%></div>
        <div class = "new_btn">
        <%= link_to "新規", new_user_registration_path%></div>
      <% end %>
    </header>
    <%= yield %>
    <div class = "btn">
    <%= link_to "home" ,root_path,method: :get%></div>
  </body>
  <footer class = "footer">japan.2020</footer>
</html>
